<div class="col-12 p-0 mt-4 import">
  <div
    class="d-flex flex-column justify-content-center align-items-center w-100 bg-blue-2 import-surface rounded"
  >
    <input
      type="file"
      id="file"
      name="file"
      accept="image/png, image/jpeg"
      hidden
    />
    <label for="file" class="medium text-wg">Drop files her or</label>
    <label for="file" class="medium">click to import</label>
    <label for="file" class="mt-3"
      ><img src="../../assets/icon/import_icon.svg" alt="import icon"
    /></label>
  </div>
</div>
