<div class="row align-content-start p-4 m-0 bg-blue w-100 h-100">
  <app-header-switch headerView="visualizeView"></app-header-switch>
  <app-project-nav class="p-0"></app-project-nav>
  <div class="col-12 mt-3 p-0 overflow-auto">
    <div class="d-flex">
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>

      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program class="me-1"></app-visualize-program>
      <app-visualize-program></app-visualize-program>
    </div>
  </div>
  <div class="col-12 d-flex overflow-auto p-0 h-tab w-100 bg-red mt-3">
    salut
  </div>
</div>
