<div class="col-12 p-0 mb-3">
    <div class="d-flex justify-content-end align-items-center">
        <h4 class="bold text-wg me-auto">PROGRAMME</h4>
        <app-button-query></app-button-query>
    </div>
</div>

<div *ngFor="let project of projects" class="h-100 d-inline">
    <div *ngIf="project.selected == true" class="h-link">
        <div class="col-12 p-0 h-100 overflow-auto">
            <div *ngFor="let attribut of project.programme_attributs">
                <app-program-link konatusAttribut={{data1}} [csvAttribut]="attribut.csv" [value]="attribut.value">
                </app-program-link>
            </div>
        </div>
    </div>
</div>


<!-- <table class="table" style="background-color: white">
    <tbody>
        <tr *ngFor="let row of dataToDisplay">
            <td *ngFor="let val of row">{{val}}</td>
        </tr>
    </tbody>
</table> -->