<div class="col-12 w-100">
  <div class="row">
    <div class="col d-flex align-items-center p-0 w-auto">
      <h1 class="text-wg bold">{{ text }}</h1>
      <div class="col d-flex justify-content-end align-items-center p-0">
        <app-button-outline
          *ngIf="headerView=='importView'"
          class="me-2"
          buttonText="Cancel"
          [action]="headerView"
        ></app-button-outline>
        <app-button-fill *ngIf="headerView=='importView'" buttonText="Next" [action]="headerView"></app-button-fill>

        <app-button-outline
          *ngIf="headerView=='mappingProgramView' || headerView=='mappingEssentialView' || headerView=='mappingOptionalView'"
          class="me-2"
          buttonText="Back"
          [action]="headerView"
        ></app-button-outline>
        <app-button-fill *ngIf="headerView=='mappingProgramView' || headerView=='mappingEssentialView' || headerView=='mappingOptionalView'" buttonText="Next" [action]="headerView"></app-button-fill>

        <app-button-outline
          *ngIf="headerView=='visualizeView'"
          class="me-2"
          buttonText="Back"
          [action]="headerView"
        ></app-button-outline>
        <app-button-fill *ngIf="headerView=='visualizeView'" buttonText="Save" [action]="headerView"></app-button-fill>
      </div>
    </div>
  </div>

  <app-progress-pillule [pilluleState]="headerView"></app-progress-pillule>
</div>
