@font-face {
  font-family: "fontBold";
  src: url("../../assets/font/Montserrat-Bold.woff2") format("woff2"),
    url("../../assets/font/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "fontMedium";
  src: url("../../assets/font/Montserrat-Medium.woff2") format("woff2"),
    url("../../assets/font/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "fontRegular";
  src: url("../../assets/font/Montserrat-Regular.woff2") format("woff2"),
    url("../../assets/font/Montserrat-Regular.woff") format("woff");
}

@mixin font-size-custom($fontsize, $lineheight) {
  font-size: $fontsize;
  line-height: $lineheight;
  margin: 0;
  display:inline-block; 
}

h1 {
  @include font-size-custom(22px, 33px);
}
h2 {
  @include font-size-custom(18px, 23.4px);
}
h3 {
  @include font-size-custom(16px, 24px);
}
h4 {
  @include font-size-custom(14px, 21px);
}
h5 {
  @include font-size-custom(12px, 18px);
}

.bold {
  font-family: fontBold;
}

.medium {
  font-family: fontMedium;
}

.regular {
  font-family: fontRegular;
}
