@import "../../_scss/global.scss";

.h-2px{
    height: 2px;
}

.border-purple{
    border: 2px solid $customPurple;
}
.border-orange{
    border: 2px solid $customOrange;
}

.mb-12px{
    margin-bottom: 12px;
}